<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">

    {% for project in site.data.featured_projects %}
    <div class="project">
        <figure class="project__pic">
        <a href="{{ project.url }}" target="_blank">
          <img src="{{ project.image_url }}" alt="">
        </a>
      </figure>

      <figcaption class="project__caption">
        <div class="project__name">
          <a href="{{ project.url }}" target="_blank">{{ project.name }}</a>
        </div>
        <p>{{ project.description | markdownify}}</p>
      </figcaption>
    </div>
    {% endfor %}

  </div>
</section>
